@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');

@import 'tailwindcss';

:root {
  --font-noto: 'Noto Sans Thai', sans-serif;

  --purple: #746aaf;
  --pink: #edb9f9;
  --light-pink: #ffc0f0;
  --vivid-pink: #d74bf0;
  --light-blue: #b9f6ff;
  --yellow: #ffdf72;
  --light-yellow: #fff4be;
  --white: #fffefe;
  --grey: #e8e8e8;
  --deep-grey: #cecece;
  --deep-deep-grey: #939393;
  --black: #313131;
  --red: #e76744;
  --green: #67a951;

  --shadow-elevation-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --shadow-elevation-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);

  --shadow-make-cartoonish-1: 1px 1px 0 #1f1f1f;
  --shadow-make-cartoonish-2: 2px 2px 0 #1f1f1f;
  --shadow-make-cartoonish-4: 4px 4px 0 #1f1f1f;

  --shadow-make-cartoonish: 4px 4px 0 #1f1f1f;
  --shadow-make-cartoonish-error: 4px 4px 0 var(--red);
}

@theme inline {
  --font-noto: 'Noto Sans Thai', sans-serif;

  --color-purple: #746aaf;
  --color-pink: #edb9f9;
  --color-light-pink: #ffc0f0;
  --color-vivid-pink: #d74bf0;
  --color-light-blue: #b9f6ff;
  --color-yellow: #ffdf72;
  --color-light-yellow: #fff4be;
  --color-white: #fffefe;
  --color-grey: #e8e8e8;
  --color-deep-grey: #cecece;
  --color-deep-deep-grey: #939393;
  --color-black: #313131;
  --color-red: #e76744;
  --color-green: #67a951;

  --shadow-elevation-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  --shadow-elevation-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.3);

  --shadow-make-cartoonish-1: 1px 1px 0 #1f1f1f;
  --shadow-make-cartoonish-2: 2px 2px 0 #1f1f1f;
  --shadow-make-cartoonish-4: 4px 4px 0 #1f1f1f;

  --shadow-make-cartoonish: 4px 4px 0 #1f1f1f;
  --shadow-make-cartoonish-error: 4px 4px 0 var(--red);
}

.display-large {
  font-family: var(--font-noto);
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.display-medium {
  font-family: var(--font-noto);
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  letter-spacing: 0px;
}

.display-small {
  font-family: var(--font-noto);
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0px;
}

.display-large-emphasized {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.display-medium-emphasized {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 45px;
  line-height: 52px;
  letter-spacing: 0px;
}

.display-small-emphasized {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0px;
}

.headline-large {
  font-family: var(--font-noto);
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0px;
}

.headline-medium {
  font-family: var(--font-noto);
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0px;
}

.headline-small {
  font-family: var(--font-noto);
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
}

.headline-large-emphasized {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0px;
}

.headline-medium-emphasized {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0px;
}

.headline-small-emphasized {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
}

.title-large {
  font-family: var(--font-noto);
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0px;
}

.title-medium {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.title-small {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.title-large-emphasized {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0px;
}

.title-medium-emphasized {
  font-family: var(--font-noto);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.title-small-emphasized {
  font-family: var(--font-noto);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label-large {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label-medium {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.label-small {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.label-large-emphasized {
  font-family: var(--font-noto);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.label-medium-emphasized {
  font-family: var(--font-noto);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.label-small-emphasized {
  font-family: var(--font-noto);
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.body-large {
  font-family: var(--font-noto);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.body-medium {
  font-family: var(--font-noto);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.body-small {
  font-family: var(--font-noto);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.body-large-emphasized {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.body-medium-emphasized {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.body-small-emphasized {
  font-family: var(--font-noto);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

@layer base {
  html {
    font-family: var(--font-noto);
  }
}